$bule: #2e75b5;
$deepGray: #606060;
$cardBk: #f2f2f2;
$btnGray: #676768;
$lightBule: #92aada;
$white: white;
$textLGray:  #dfdfdf;
$textRed: #c00000;
$textBlue: #7ca7d0;
$textGreen:  #7cce93;
$textGray: gray;
$linkColor: #9cbcdb;
$linkHover: #66a7e9;
$white2: #d9d9d9;
$pageLink: #7c7c7c;
$pageActive: #007bff;
$white3: #bfbfbf;

.schedule {
    margin: 2%;
    text-align: left;

    .card {
        border: 1px solid $deepGray;
        border-radius: 0rem;

        .card-header {
            background-color: $bule;
            color: $white;
            border-radius: 0rem;
        }

        .card-body {
            background-color: $cardBk;
        }
    }



    .action {
        display: flex;
        margin-bottom: 1%;
        justify-content: space-between;

        .inputNbtn {
            display: flex;
            width: 32vw;
            justify-content: space-between;

            .inputStyle {
                width: 20vw;
                border-color: $bule;
            }

            .btn {
                background-color: $bule;
                border-color: $bule;
            }

            .btn-gray {
                background-color: $btnGray;
                border-color: $btnGray;
            }
        }

    }

    .scheduleTable {
        border: 2px solid $lightBule;
        border-radius: 0.25rem;
        padding: 1%;
        background-color: $white;

        .tableHeader {
            background-color: $lightBule;
            color: $white;
        }

        .checkGray {
            fill:$textLGray;
        }

        .checkBlue {
            fill: $lightBule;
        }

        .xRed {
            fill: $textRed;
        }

        .doing {
            color: $textBlue;
        }

        .done {
            color:$textGreen;
        }

        .error {
            color: $textRed;
        }

        .scheduled {
            color: $textGray;
        }

        .link {
            color: $linkColor;

            &:hover {
                color: $linkHover;
            }
        }

        .redoBtn {
            width: 5vw;
        }

        .unFinish {
            background-color: $white2;
            border-color: $white2;
        }

        .finish {
            background-color: $textRed;
            border-color: $textRed;
        }

        .emptyClass {
            margin-top: 2.25rem;
            text-align: center;
        }
    }

    .paginationC {
        margin: 1%;
        display: flex;
        justify-content: center;


        .page-link {
            background-color: unset;
            border: unset;
            color: $pageLink;

            .pageActive {
                fill: $pageActive;
            }
        }

        .page-item.active .page-link {
            background-color: $pageActive;
            color: $white;
            border-radius: 0.25rem;
        }

        .page-item.disabled .page-link {
            color: $white3;

            .pageActive {
                fill: $white3;
            }
        }
    }
    
}


// modal css
.modal-header {
    background-color: $bule;
    color: $white;

    .close{
        color: $white;
    }
}
.modal-body {
    .createForm {
        display: flex;
        justify-content: space-between;

        .form-control, .custom-select  {
            width: 13vw;
        }
    }

    .spanText {
        color: red;
    }
}

.modal-footer {
    .btn {
        background-color: $bule;
        border-color: $bule;
    }
}